<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>
	
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/home/pallav/imguploadimg.log</File>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>

	<logger name="pl.imguploadimg" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender"/>
		<appender-ref ref="dailyRollingFileAppender"/>
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender"/>
	</root>
</configuration>
